@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

body {
    background-color:  #fff;
    font:1em helvetica, sans-serif;
}
.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.primary-heading {
    font-size: 2em;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 0.5em black;
}

.open-or-close {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
}
.open-or-close div {
    width: 100%;
    height: 0.25em;
    background-color: white;
    margin: 0.5em 0;
    transition: transform 0.3;
}

.open-or-close:close div:first-child {
    transform: translateY(0.375em) rotate(45deg);

}
.open-or-close:close div:last-child {
    transform: translateY(-0.375em) rotate(-45deg);

}

.navigation {
    background-color: rgba(20,20,20,0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: grid;
    place-items: center;
    

}

.hidden {
    display:  none;
}

.menu {
    color: #fff;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
}
.menu a {
    color: #fff;
    text-decoration: none;

}
.menu a:hover {
    text-decoration: underline;
}
.city { 
position: relative;
height: 50vw;
max-height: 24em;
overflow: hidden;
}
.city-name {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height:100%;
    display: grid;
    opacity: 0;
    transition: all 0.3s;
    }

    .city-name:hover {
        opacity: 1;
    }

    .city-name a {
    /*background-color: gold;*/
    font: 3em 'Carter One', cursive;
    color: white;
    text-shadow: 0 0 0.25em #000;
    line-height: 1;
    place-self: center;
    text-align: center;
    padding: 1em;

   /* width:100%;
    left: 0;
    text-align: center;
    
    position:absolute;
    top: 0;
    bottom: 0;
    height: 1em;
    line-height: 1;
    margin: auto; */
}
